*, *::before, *::after {
    box-sizing: border-box;
  }
  

body{
    background-color: rgb(19, 18, 18);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calc-corpo{
    margin-top: 100px;
    width: 350px;
    height: 455px;
    display: inline-block;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
}

.calc-tela{
    /* border: 1px solid blue; */
    height: 80px;
    text-align: right;
    color: rgb(103, 99, 99);
    margin: 0;
}

.calc-area-botoes{
    display: flex;
    flex-flow: row wrap;
    height: 320px;
    margin: 4px;
    border-radius: 5px;
    /* box-shadow: 0px 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
    /* border: 1px solid yellow; */
}

.area-botoes{
    flex: 20%;
    height: 62px;
    text-align: center;
    line-height: 60px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(238, 224, 224);
}

.area-botoes:hover{
    background-color: rgb(17, 137, 235);
    color: white;
}

.area-botoes-especiais{
    flex: 20%;
    height: 62px;
    text-align: center;
    line-height: 60px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(197, 203, 203);
    opacity: 0.9;
}

.area-botoes-especiais:hover{
    background-color: rgb(17, 137, 235);
    color: white;
}

#bt-igual{
    flex: 45%;
    background-color: rgb(17, 137, 235);
    color: white;
}

#bt-igual:hover{
    color: rgb(17, 137, 235);
    background-color: rgb(189, 204, 220);
}

